<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929746273120-tqpc13ocepqhk5b2po1vqu55gvtu3bd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929746273120-tqpc13ocepqhk5b2po1vqu55gvtu3bd7</string>
	<key>API_KEY</key>
	<string>AIzaSyDm3i6G9Wivl-yKDNjxdfhu5xsqVj-uX20</string>
	<key>GCM_SENDER_ID</key>
	<string>929746273120</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-433b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-433b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929746273120:ios:d835bc3be6c3a517641405</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-433b1.firebaseio.com</string>
</dict>
</plist>